{% extends "models_tests/wrapper.html" %}

{% block content %}
<form action = "/form_tests/search" method = "get">
  <input type="text" name="q">
  <input type="submit" value="Search">
</form>

<form action = "/form_tests/file_input" method = "post">
  {%csrf_token%}
  Ваше имя <input type="text" name = "name"> <br>
  Ваша фамилия <input type="text" name="" value="surname"> <br>
  Ваша дата рождения <input type="text" name="birth"> <br>
  Ваш пол <br>
  <input type = "radio" name = "gender" value = "male">Мужчина<br>
  <input type = "radio" name = "gender" value = "female">Женщина

<button type="submit"> Записать в файл </button>
</form>
{% endblock %}
